p {
    text-align: center;
}

h3 {
    text-align: center;
}

.ui-page .ui-header {
    background: white !important;
}

#start .ui-content{
    background: white !important;
    transform: translateY(50%);
}

#start {
    background: white !important;
}
#barber_home .ui-content{
    background: white !important;
    transform: translateY(50%);
}

#barber_home {
    background: white !important;
}

#client_home .ui-content{
    background: white !important;
    transform: translateY(50%);
}

#client_home {
    background: white !important;
}

#login_barber{
    background: white !important;
}

#login_client{
    background: white !important;
}

#register_barber{
    background: white !important;
}

#register_client{
    background: white !important;
}

.feedback-list li {
    margin-bottom: 8px !important;
}

/*Make div scrollable */
.feedback-list {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 400px;
}

.feedback-list p {
    text-align: left;
    vertical-align: middle;
}

/*MAHAN*/

.ui-table-columntoggle-btn {
    display: none !important;
}

.badge{
	position: relative;
	z-index: 1;
	width: 45px;
}
.badgecomplete{
	position: relative;
	z-index: 1;
	width: 45px;
	top:15px;
	left:35px;
}

.add{
	position: relative;
	z-index: 1;
    width: 14px;
    top: -18px;
    left: -14px;
}

.progress{
	position: relative;
	z-index: 2;
	left: -50px;
	width:45px;
}


.img-wrap {
    position: relative;
}

.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 100px;
    position: relative;
}

div.gallery .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    color:red;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*DIONDRA Profile Section*/
#profile .ui-content h4{
    background-color: lightgrey!important;
    text-shadow: none;
    color: black;
    padding: 3px;
    border: 3px solid black;
}

#proflie .ui-mini{
    left: 50px;
}

img.border {
    position: relative;
    border: 3px solid black;
    float: left;
}

#portfolio_content img{
    position: relative;
    border: 2px solid black;
    float: left;
    margin-left: 5px;
}

#public_profile .ui-content h4{
    background-color: lightgrey!important;
    text-shadow: none;
    color: black;
    padding: 3px;
    border: 3px solid black;
}

#public_portfolio_content img{
    position: relative;
    border: 2px solid black;
    float: left;
    margin-left: 5px;
}

img.space {
    margin-left: 10px;
}

#profile div.lower_section {
    position: relative;
}

#profile .testimonial {
    font-family: monospace;
    font-weight: 500;
}

#public_profile .testimonial {
    font-family: monospace;
    font-weight: 500;
}

p.name {
    color: firebrick;
    font-weight: 600;
    text-align: left;
    position: relative;
    left: 10px;
}

p.small_bio{
    color: black;
    font-size: .8em;
    text-align: left;
    position: relative;
    left: 10px;
}

.add-btn {
    width: 100px !important;
}

#profile img.add {
    position: relative !important;
    top: 2px;
    left: 1px;
}