p {
    text-align: center;
}

h3 {
    text-align: center;
}

h3.border {
    background-color: white;
    border: grey solid 2px;
}

.ui-page .ui-header {
    background: white !important;
}

#start .ui-content{
    background-color: rgba(255, 255, 255, 0.5) !important;
    transform: translateY(25%);
}

#start {
    background-image: url(pics/barbershop.jpeg) !important;
    background-size: cover !important;
    background-position: center!important;
}

#barber_home .ui-content{
    background: white !important;
    transform: translateY(50%);
}

#barber_home {
    background-image: url(pics/wood_screen.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#barber_home .ui-content {
    background-color: rgba(255, 255, 255, 0.5) !important;
    transform: translateY(25%);
}

#client_home {
    background-image: url(pics/wood_screen.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#client_home .ui-content{
    background-color: rgba(255, 255, 255, 0.5) !important;
    transform: translateY(25%);
}

#login_barber{
    background-image: url(pics/barbershop_login.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#login_barber .ui-content{
    background-color: rgba(255, 255, 255, 0.5) !important;
    transform: translateY(20%);
}

#login_client{
    background-image: url(pics/barbershop_login.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#login_client .ui-content{
    background-color: rgba(255, 255, 255, 0.5) !important;
    transform: translateY(20%);
}

#register_barber{
    background-image: url(pics/register.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#register_barber .ui-content{
    background-color: rgba(255, 255, 255, 0.1) !important;
}

#register_client{
    background-image: url(pics/register.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#register_client .ui-content{
    background-color: rgba(255, 255, 255, 0.1) !important;
}

#profile{
    background-image: url(pics/cuts.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#public_profile{
    background-image: url(pics/profile.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#discover_barber{
    background-image: url(pics/discover_background.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#discover_barber .ui-content{
    background-color: rgba(255, 255, 255, 0.7) !important;
     transform: translateY(10%);
}

#discover_client{
    background-image: url(pics/discover_background.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#discover_client .ui-content{
    background-color: rgba(255, 255, 255, 0.7) !important;
     transform: translateY(10%);
}

#cuts{
    background-image: url(pics/cuts.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#clipps{
    background-image: url(pics/cuts.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#clipps-completed{
    background-image: url(pics/cuts.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#give_feedback{
    background-image: url(pics/give_feedback.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#client_search_results{
    background-image: url(pics/give_feedback.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#barber_search_results{
    background-image: url(pics/give_feedback.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

.profile{
    background-image: url(pics/profile.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#feedback{
    background-image: url(pics/cuts.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

#give_feedback_form{
     background-image: url(pics/give_feedback.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
}

.feedback-list li {
    margin-bottom: 1% !important;
}

/* Home Pages */
.home_photo {
    width: 85%;
    height: 125px;
    float: left;
    margin-right: 0%;
    margin-left: 8%;
    margin-top: 5%;
    border: 7px;
}

.home_caption {
    font-weight: bold;
    text-align: center;
    font: arial, sans-serif;
    color: black;
}

/*Make div scrollable */
.feedback-list {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 500px;
}

/* CUTS SECTION */
.add_cuts {
    position: relative; 
    z-index: 1;
    width: 14px;
    top: 10%;
    left: -25%;
}

.delicon {
    position: relative; 
    z-index: 1;
    top: 10%;
    right: -92%;
    width: 14px;
}

.cuts_photo {
    width: 28%;
    height: 130px;
    float: left;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

/* END OF CUTS SECTION */ 


/*MAHAN*/

.ui-table-columntoggle-btn {
    display: none !important;
}

.badge{
	position: relative;
	z-index: 1;
	width: 45px;
}
.badgecomplete{
	position: relative;
	z-index: 1;
	width: 45px;
	top:15px;
	left:35px;
}

.add{
	position: relative;
	z-index: 1;
    width: 14px;
    top: -18px;
    left: -14px;
}

.addicon{
	position:relative;
	z-index:1;
	top:0px;
	left:0px;
	width:14px;
}
a {
	text-decoration: none;
}

.progress{
	position: relative;
	z-index: 2;
	left: -50px;
	width:45px;
}


#portfolio_clipp {
    position: relative;
    margin-right: 10px;
    width: 47px;
    height: 50px;
	float:left;
}

#portfolio_clipp .add{
	top:0px;
	left: 30px;
}
#clipps_content .badge{
	top:-14px;
}

#portfolio_clipp a{
	width:20px;
	height:20px;
	z-index:999;
}

#clipptable {
	
	font-size:14px;
    background-color: white;
}

#clippsgrid {
    background-color: white;
}



/*END MAHAN*/

.popphoto{
    width:100%;
    height:80%;
}

.cut_image {
    width:120px;
    height:170px; 
}

.img-wrap {
    position: relative;
}

.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 100px;
    position: relative;
}

div.gallery .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    color:red;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*DIONDRA Profile Section*/
#profile .ui-content h4{
    background-color: lightgrey!important;
    text-shadow: none;
    color: black;
    padding: 3px;
    border: 3px solid black;
}

#proflie .ui-mini{
    left: 50px;
}

img.border {
    position: relative;
    border: 3px solid black;
    float: left;
}

img.front {
     z-index: 1;
}

#portfolio_content img.popphoto{
    position: relative;
    border: 2px solid black;
    float: left;
    margin-left: 5px;
    width: 100%;
    height: 100%;
}

#portfolio_content img.delete_portfolio{
    position: absolute;
    z-index: 1;
    width: 14px;
    top: -5px;
    right: -15px;
}

#testimonials_content img.delete_testimonials{
    position: absolute;
    z-index: 1;
    width: 14px;
    right: -7px;
}

#portfolio_content .portfolio_photo{
    position: relative;
    float: left;
    margin-right: 5%;
    width: 20%;
    height: 65px;
}

#public_profile .ui-content h4{
    background-color: lightgrey!important;
    text-shadow: none;
    color: black;
    padding: 3px;
    border: 3px solid black;
}

#public_portfolio_content img{
    position: relative;
    border: 2px solid black;
    float: left;
    margin-right: 1%;
    width: 20%;
    height: 75px;
}

#public_profile_client .ui-content h4{
    background-color: lightgrey!important;
    text-shadow: none;
    color: black;
    padding: 3px;
    border: 3px solid black;
}

#public_portfolio_client_content img{
    position: relative;
    border: 2px solid black;
    float: left;
    margin-right: 1%;
    width: 20%;
    height: 75px;
}

img.space {
    margin-left: 10px;
}

#profile div.lower_section {
    position: relative;
}

#profile .testimonial {
    font-family: monospace;
    font-weight: 800;
}

#public_profile .testimonial {
    font-family: monospace;
    font-weight: 800;
}

#public_profile_client .testimonial {
    font-family: monospace;
    font-weight: 800;
}

p.name {
    color: firebrick;
    font-weight: 600;
    text-align: left;
    position: relative;
    left: 10px;
    background-color: white;
    border: black solid 2px;
}

p.small_bio{
    color: black;
    font-size: .8em;
    text-align: left;
    position: relative;
    bottom: 10px;
    left: 10px;
    background-color: white;
    border: black solid 2px;
}

.add-btn {
    width: 100px !important;
}

#profile img.add {
    position: relative !important;
    top: 2px;
    left: 1px;
}

/* Matthew's edits to CSS  */

#nav-menu-subtitle {
    margin-top: 0;
}

#review-popup-img {
    width: 135px;
}

#clipp-image {
    width: 45px;
}

.feedback-testimonial {
    margin-top: 6% !important;
    font-family: monospace;
    font-weight: 500;
    font-size: 80% !important;
    text-align: center;
}

.feedback-list .delete-feedback {
    background: lightgrey !important;
}

#feedback-date {
    right: 1.333em !important;
}

#discover-button {
    width: 100%;
}

#fbarbersearch {
    font-size: 15px;
}

#feedback-form-name {
    color: firebrick;
    font-weight: bolder;
}

.results-image {
    margin: 1%;
    width: 100%;
    border-color: black !important;
    border-style: solid !important;
    border-width: 2px !important;
}

#result-text {
    color: firebrick;
    font-weight: 600;
    text-align: center;
}

#result-profile-message {
    white-space: normal;
    text-align: center;
    clear: left;
}

.search-results-list li {
    margin-bottom: 3% !important;
}


#discover_barber .ui-field-contain {
    padding:2px !important;
    border-bottom: 0px !important;
}

#discover_client .ui-field-contain {
    padding:2px !important;
    border-bottom: 0px !important;
}



